
// FONTS
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700");

// BOOTSTRAP
@import "./_bootstrap/bootstrap-reboot";
@import "./_bootstrap/bootstrap-grid";
@import "./_bootstrap/forms";
@import "./_bootstrap/buttons";

* {
  outline: none !important;
}

body {
  font-family: 'Montserrat', sans-serif !important;
}

/* HEADER =========================================================================================================== */
.header {

}
/* FOOTER =========================================================================================================== */
.footer {
  border-top: 1px solid #f5f5f8;
  margin: 3rem 0 0;
  padding: 3rem 0 0;
  min-height: 250px;
}
/* MEDIA QUERIES ==================================================================================================== */
@media (max-width: 575.98px) {  }

@media (max-width: 767.98px) {  }

@media (max-width: 991.98px) {  }

@media (max-width: 1199.98px) {  }