
// FONTS
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700");

// BOOTSTRAP
@import "./_bootstrap/bootstrap-reboot";
@import "./_bootstrap/bootstrap-grid";
@import "./_bootstrap/forms";
@import "./_bootstrap/buttons";

* {
  outline: none !important;
}

body {
  font-family: 'Montserrat', sans-serif !important;
}

/* HEADER =========================================================================================================== */
.header {
  position: fixed;
  top: 0;
  background: #fff;
  height: 60px;
  width: 100%;
  box-shadow: 0 0 .5rem 0 rgba(0, 0, 0, 0.1);
  z-index: 100;
}

/* FOOTER =========================================================================================================== */
.content {
  min-height: 65vh;
}

/* FOOTER =========================================================================================================== */
.footer {
  border-top: 1px solid #e0eaf1;
  background: #fdfdff;
  margin: 3rem 0 0;
  padding: 1.5rem 0 0;
  min-height: 250px;
}

/* MEDIA QUERIES ==================================================================================================== */
@media (max-width: 575.98px) {  }

@media (max-width: 767.98px) {  }

@media (max-width: 991.98px) {  }

@media (max-width: 1199.98px) {  }